In [34]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import roc_auc_score
import pandas as pd
X = pd.read_csv("/Users/adriancavallaris/Documents/train.csv")
y = X.pop("Survived")

Average the missing values of Age

In [36]:
X["Age"].fillna(X.Age.mean(), inplace=True)
X.describe()

       PassengerId      Pclass         Age       SibSp       Parch        Fare
count   891.000000  891.000000  891.000000  891.000000  891.000000  891.000000
mean    446.000000    2.308642   29.699118    0.523008    0.381594   32.204208
std     257.353842    0.836071   13.002015    1.102743    0.806057   49.693429
min       1.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%     223.500000    2.000000   22.000000    0.000000    0.000000    7.910400
50%     446.000000    3.000000   29.699118    0.000000    0.000000   14.454200
75%     668.500000    3.000000   35.000000    1.000000    0.000000   31.000000
max     891.000000    3.000000   80.000000    8.000000    6.000000  512.329200

In [37]:
numeric_variables = list(X.dtypes[X.dtypes != "object"].index)
X[numeric_variables].head()

   PassengerId  Pclass  Age  SibSp  Parch     Fare
0            1       3   22      1      0   7.2500
1            2       1   38      1      0  71.2833
2            3       3   26      0      0   7.9250
3            4       1   35      1      0  53.1000
4            5       3   35      0      0   8.0500

I have a theory that Cabin does not do anything for the model, and may actually hurt the results.

In [38]:
X.drop(["Name", "Ticket", "Cabin", "PassengerId"], axis=1, inplace=True)

In [39]:
categorical_variables = ['Sex', 'Embarked']

for variable in categorical_variables:
    X[variable].fillna("Missing", inplace=True)
    dummies = pd.get_dummies(X[variable], prefix=variable)
    X = pd.concat([X, dummies], axis=1)
    X.drop([variable], axis=1, inplace=True)

In [41]:
model = RandomForestRegressor(100, oob_score=True, n_jobs=-1, random_state=42)
model.fit(X, y)
print "AUC: ", roc_auc_score(y, model.oob_prediction_)

AUC:  0.860445360517

In [42]:
model = RandomForestRegressor(n_estimators=1000, 
                              oob_score=True, 
                              n_jobs=-1, 
                              random_state=42, 
                              max_features="auto", 
                              min_samples_leaf=5)
model.fit(X, y)
roc = roc_auc_score(y, model.oob_prediction_)
print "AUC: ", roc

AUC:  0.874524654076

I used Jason's model, with a slight modification. I believed that cabin would actually slightly hurt the results, due to the overwhelming lack of data, so my theory was that his model could be improved if cabin was thrown out, which it did. This model is actually a bit better with the removal of Cabin.